<img src="img/logo-370x130.png" alt="365 Days of jQuery" title="Follow me on Twitter @365daysofjquery" class="floatLeft" />
<h2>Welcome to 365 Days of jQuery.</h2>
<p>
	A personal project to help myself and hopefully others have a better understanding of jQuery and create some cool stuff.
</p>
<p>
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=365daysofjquery&repo=365daysofjquery.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=365daysofjquery&repo=365daysofjquery.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
</p>
<p>
	<a href="https://twitter.com/365daysofjquery" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @365daysofjquery</a>
</p>
<p>
	<ul class="buttons unstyled">
		<li>
			<a href="http://github.com/365daysofjquery" rel="me" class="social github" title="Go to github.com/365daysofjquery"></a>
		</li>
		<li>
			<a href="http://www.twitter.com/365daysofjquery" rel="me" class="social twitter" title="Go to twitter.com/365daysofjquery"></a>
		</li>
		<li>
			<a href="https://github.com/365daysofjquery/365daysofjquery.github.com/issues" rel="me" class="social mail" title="Leave feedback"></a>
		</li>
	</ul>
</p>