<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="http://365daysofjquery.github.com">365 Days of jQuery</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<a href="http://365daysofjquery.github.com"><i class="icon-home"></i>
							Home
						</a>
					</li>
					<li>
						<a href="http://www.twitter.com/365daysofjquery" rel="tooltip" title="Go to twitter.com/365daysofjquery">Twitter</a>
					</li>
					<li>
						<a href="http://github.com/365daysofjquery" rel="tooltip" title="Go to github.com/365daysofjquery">GitHub</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>